services:

  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: api
    ports:
      - "8080:80"
    volumes:
      - ./api:/var/www/html/api
      - .env:/var/www/html/.env
      - ./apache-cors.conf:/etc/apache2/conf-enabled/cors.conf
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
    depends_on:
      - db

  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: web-prod
    ports:
      - "3001:3001"
    depends_on:
      - db
    environment:
      NODE_ENV: production

  db:
    image: mysql:8.4.7
    container_name: fintrack-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    ports:
      - "3307:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql

volumes:
  mysql_data:
