services:

  api:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./api:/var/www/html/api
      - .env:/var/www/html/.env
    depends_on:
      - db

  web:
    build: .
    ports:
      - "3001:80"
    volumes:
      - ./web:/var/www/html/web
    depends_on:
      - db

  db:
    image: mysql:8.4.7
    container_name: fintrack-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    ports:
      - "3307:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: fintrack-phpmyadmin-dev
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: ${DB_USER}
      PMA_PASSWORD: ${DB_PASS}
    ports:
      - "8081:80"
    depends_on:
      - db 

volumes:
  mysql_data: