.btn-primary {
    background-color: var(--color-primary);
    color: white;
    font-weight: bolder;
}
.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.btn-outlined {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    font-weight: bolder;
}
.btn-outlined:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-foreground);
}