.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

.btn-outlined {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn-outlined:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-foreground);
}

.btn-cancel {
  color: white;
  background-color: var(--color-cancel);
}

.btn-cancel:hover {
  background-color: var(--color-cancel-hover);
}

.btn-secondary {
  color: var(--color-foreground);
  background-color: var(--color-surface-a);
  border: 1px solid var(--color-foreground);
}

.btn-secondary:hover {
  background-color: var(--color-surface);
}

.btn {
  transition: cubic-bezier();
  transition-duration: 350ms;
  font-weight: bolder;
}

.btn:hover {
  transition: cubic-bezier();
  transition-duration: 350ms;
}