@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #171717;
  --foreground: #ffffff;

  --color-primary: #7b46e5;
  --color-primary-hover: #6639c2;

  --color-cancel: #f75044;
  --color-cancel-hover: #df463b;

  --color-surface: #232323;
}

[data-theme='light'] {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary-hover: #9565f4;
  --color-surface: #f0f0f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-quicksand: var(--font-quicksand);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-surface: var(--color-surface);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
  transition: background 300ms ease, color 300ms ease;
}

.nav-link {
  font-family: var(--font-inter);
  font-size: 1.2rem;
}

[data-theme='light'] {
  .nav-link:hover {
    color: var(--color-hover);
  }

  .nav-link {
    transition: cubic-bezier();
    transition-duration: 350ms;
  }
}

[data-theme='dark'] {
  .nav-link:hover {
    color: var(--color-hover);
  }

  .nav-link {
    transition: cubic-bezier();
    transition-duration: 350ms;
  }
}

input {
  outline: none;
}